/* footer */
footer {
    background-color: #00439c;
    margin-top: 50px;
}

/* up */


/* down */
.mc-flogo {
    width: 10%;
}

.mc-fpar {
    padding: 20px 0;
    color: white;
    width: 50%;
    font-size: 15px;
}