/* footer */
footer {
    background-color: #00439c;
    margin-top: 50px;
}

/* up */
.mc-flogops {
    margin: 20px 0;
}

.mc-fglobe {
    width: 4%;
    margin-bottom: 20px;
}

.mc-language {
    color: white;
    font-size: 15px;
    position: relative;
    bottom: 8px;
}

/* down */
.mc-flogo {
    width: 10%;
}

.mc-fpar {
    padding: 20px 0;
    color: white;
    width: 50%;
    font-size: 15px;
}