.clearfix::after {
    contain: "";
    display: table;
    clear: both;
}

#mc-logo {
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

#mc-logo>img {
    float: right;
    height: 25px;
    margin-top: 12px;
    margin-right: 5px;
}

.mc-nav {
    margin-top: 50px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.mc-button {
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

#mc-jumbo {
    background-image: url(../img/jumbo-bg.png);
    height: 95vh;
    position: relative;
}

#mc-jdescr {
    color: white;
    width: 30%;
    position: absolute;
    top: 300px;
    left: 50px;
}

#mc-jtitle {
    margin-bottom: 50px;
}

#mc-jp {
    margin-bottom: 50px;
}

.mc-jb {
    background-color: #cd3d0f;
}
