/* games */
.mc-games {
    padding: 30px 15px;
}

.mc-gamesrow {
    width: 100%;
}

/* title, play5 */
#mc-titleplay5 {
    text-align: center;
    margin: 50px 0;
}

#mc-titleplay5>a {
    text-decoration: none;
    color: #1f83d3;
}

/* play5 */
#mc-play5 {
    margin: 50px 25px;
}

.mc-play5par {
    margin-top: 20%;
}

#mc-play5title {
    margin-bottom: 30px;
}

#mc-play5descr {
    color: #808080;
    margin-bottom: 30px;
}

.mc-plb {
    background-color: #2d64e6;
}