/* games */
.mc-games {
    padding: 10px;
}

.mc-gameselement {
    margin: 0 auto;
    padding: 10px 0;
}

/* title, play5 */
.mc-titleplay5 {
    text-align: center;
    margin: 50px 0;
}

#mc-titleplay5>p {
    text-align: center;
}

p>a {
    text-decoration: none;
    color: #1f83d3;
}

/* play5 */
.mc-play5 {
    margin: 50px 25px;
}

.mc-play5par {
    margin-top: 20%;
}

#mc-play5title {
    margin-bottom: 30px;
}

#mc-play5descr {
    color: #808080;
    margin-bottom: 30px;
}

.mc-plb {
    background-color: #2d64e6;
}

#mc-play5comp {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.mc-play5img {
    width: 15%;
}

.mc-ps5descr {
    padding: 10px 0;
    text-align: center;
}

.selected {
    border-bottom: 1px solid #2d8ad5;
}

.deselected {
    opacity: 0.5;
}

.deselected:hover {
    opacity: 1;
    border-bottom: 1px solid #2d8ad5;
}

/* game (it takes two) */
#mc-game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 500px;
    background-size: cover;
    margin-top: 50px;
    background-position: center;
    position: relative;
}

#mc-gamedescr {
    color: white;
    width: 30%;
    position: absolute;
    top: 140px;
    left: 50px;
}

#mc-gamelogo {
    width: 30%;
}

/* new releases */
#mc-newgm {
    background-color: #1f1f1f;
}

#mc-newdescr {
    color: white;
    margin-left: 15px;
}

.mc-newgames {
    padding: 30px 10px 10px 10px;
}

.mc-newelement {
    margin: 0 auto;
    padding: 30px 0;
}

.mc-newelemdescr {
    color: white;
    padding-left: 10px;
}

/* title, play4 */
/* play4 */
/* play plus */
#mc-gameplus {
    background-color: #bebcbb;
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
    margin-top: 50px;
    position: relative;
}

#mc-gameplusdescr {
    width: 40%;
    position: absolute;
    top: 120px;
    left: 50px;
}

#mc-gamepluslogo {
    margin-bottom: 50px;
}

.mc-gpb {
    background-color: #d9dadc;
    color: #3b6ee4;
    padding: 5px 10px;
}

/* title, discounts */
#mc-titlediscounts {
    margin: 50px 0;
}

/* disocunts */
.mc-discounts {
    margin-top: 20px;
}

/* play now */
#mc-playnow {
    background-color: #161c3b;
    background-image: url(../img/ps-now-april-featured-image-block.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
    margin-top: 50px;
    position: relative;
}

#mc-playnowlogo {
    width: 50%;
    margin-bottom: 50px;
}

/* title, social */
/* social */