@media screen and (min-width: 992px) {
    
    #mc-gamedescr {
        width: 40%;
        top: 50px;
    }
}

@media screen and (max-width: 992px) {
    
    #mc-gamedescr {
        width: 50%;
        top: 100px;
    }

    #mc-gameplusdescr {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    
    .mc-play5par {
        text-align: center;
    }

    .mc-play5img {
        width: 30%;
    }

    #mc-gameplus {
        background-image: none;
        height: 400px;
        margin-top: 20px;
    }

    #mc-gameplusdescr {
        width: 70%;
        left: 80px;
    }

    #mc-jumbologo {
        width: 70%;
    }

    #mc-game {
        height: 600px;
        margin-top: 50px;
    }

    #mc-gamedescr {
        width: 90%;
    }

    #mc-gamelogo {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    
    #mc-jdescr {
        width: 90%;
    }

    #mc-jumbologo {
        width: 90%;
        margin-bottom: 20px;
    }
}
